{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?php echo $pageTitle; ?> | e-KGB - BKD</title>
</head>
<body>
    <table width="100%">
        <tr>
            <td width=40 align="center"><img src="static/images/Logo.png" width="10%"></td>
            <td align="center">
                <b>
                    <font style=font-size:12pt face="Times New Roman" color=#000000>PEMERINTAH PROVINSI JAMBI</font>
                </b><br />
                <b>
                    <font style=font-size:14pt face="Times New Roman" color=#000000>BADAN KEPEGAWAIAN DAERAH</font>
                </b><br />
                <font style=font-size:8pt face="Times New Roman" color=#000000>Jalan RM. Noer Admadibrat No. 2 Telanaipura Telp. 0741 667691</font><br />
                <font style=font-size:8pt face="Times New Roman" color=#000000>Website : http://bkd.jambiprov.go.id ; e-mail : datinfo.bkd.jambiprov@gmail.com</font><br />
            </td>
        </tr>
    </table>
    <hr>
</body>
</html>

