{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{data.nama}}| e-KGB - BKD</title>
</head>
<body>
    <table width="100%">
        <tr>
            <td width=40 align="center"><img src="static/images/Logo.png" width="10%"></td>
            <td align="center">
                <b>
                    <font style=font-size:12pt face="Times New Roman" color=#000000>PEMERINTAH PROVINSI JAMBI</font>
                </b><br />
                <b>
                    <font style=font-size:14pt face="Times New Roman" color=#000000>BADAN KEPEGAWAIAN DAERAH</font>
                </b><br />
                <font style=font-size:8pt face="Times New Roman" color=#000000>Jalan RM. Noer Admadibrat No. 2 Telanaipura Telp. 0741 667691</font><br />
                <font style=font-size:8pt face="Times New Roman" color=#000000>Website : http://bkd.jambiprov.go.id ; e-mail : datinfo.bkd.jambiprov@gmail.com</font><br />
            </td>
        </tr>
    </table>
    <hr>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=5></td>
            <td width=57></td>
            <td width=15></td>
            <td width=375 align=left><br></td>
            <td width=270 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Jambi, {{nominatif.tanggal}}</font>
            </td>
        </tr>
    </table>
    <br>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=5 align=left> <br></td>
            <td width=57 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Nomor </font>
            </td>
            <td width=15 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;:</font>
            </td>
            <td width=375 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>822.3/{{nominatif.id}}/BKD</font>
            </td>
            <td width=270 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Kepada :</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=5 align=left> <br></td>
            <td width=57 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Sifat </font>
            </td>
            <td width=15 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;:</font>
            </td>
            <td width=350 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Biasa</font>
            </td>
            <td width=300 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Yth. Kepala Badan Keuangan Daerah</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=5 align=left> <br></td>
            <td width=57 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Lampiran </font>
            </td>
            <td width=15 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;:</font>
            </td>
            <td width=375 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Biasa</font>
            </td>
            <td width=270 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Provinsi Jambi</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=5 align=left> <br></td>
            <td width=57 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Hal</font>
            </td>
            <td width=15 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;:</font>
            </td>
            <td width=375 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Kenaikan Gaji Berkala </font>
            </td>
            <td width=270 align=left bgcolor=#ffffff></td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=5></td>
            <td width=57></td>
            <td width=15></td>
            <td width=375 align=left>
                <font style=font-size:10pt face="arial narrow" color=#000000>An. {{data.nama}}</font>
            </td>
            <td width=270 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Di -</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=5></td>
            <td width=57></td>
            <td width=15></td>
            <td width=432 align=left> <br></td>
            <td width=250 align=left bgcolor=#ffffff><b>
                    <font style=font-size:10pt face="arial narrow" color=#000000>J A M B I</font>
                </b></td>
        </tr>
    </table>
    <br />
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=75></td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dengan ini diberitahukan, bahwa sehubungan dengan telah dipenuhi masa kerja dan syarat-syarat lainnya maka kepada :</font>
            </td>
        </tr>
    </table>
    <br />
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=80 align=left> <br></td>
            <td width=240 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>1.&nbsp;&nbsp;Nama</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left> <br></td>
            <td width=346 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;{{data.nama}}</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=80 align=left> <br></td>
            <td width=240 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>2.&nbsp;&nbsp;Nomor Induk Pegawai (NIP)</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial" color=#000000>&nbsp;{{data.nip}}</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=80 align=left> <br></td>
            <td width=240 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>3.&nbsp;&nbsp;Pangkat/Golongan</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial" color=#000000>&nbsp;{{data.golongan}}/({{simbol.simbol}})</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=80 align=left> <br></td>
            <td width=240 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>4.&nbsp;&nbsp;Kantor/Tempat</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial" color=#000000>&nbsp;{{data.opd}}</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=80 align=left></td>
            <td width=240 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>5.&nbsp;&nbsp;Gaji Pokok Lama</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial" color=#000000>&nbsp;Rp. {{gajilama.tbgaji_currency|intcomma}}</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=10>
        <tr height=25>
            <td width=65 align=left> <br></td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>Atas dasar Surat Keputusan terakhir tentang gaji/ pangkat yang ditetapkan :</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=128 align=left> <br></td>
            <td width=281 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>a. Oleh Pejabat</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;Gubernur Jambi</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=128 align=left> <br></td>
            <td width=281 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>b. Tanggal</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>{{data.tanggal}}</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=128 align=left> <br></td>
            <td width=281 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;&nbsp;&nbsp;&nbsp;Nomor</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;{{pangkat.nomor_sk}}</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=128 align=left> <br></td>
            <td width=281 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>c. Tanggal mulai berlakunya gaji tersebut</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;{{pangkat.tanggal}}</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=128 align=left> <br></td>
            <td width=281 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>d. Masa kerja golongan pada tanggal tersebut</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;{{nominatif.mk_tahun}} Tahun {{nominatif.mk_bulan}} Bulan</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=10>
        <tr height=25>
            <td width=65 align=left> <br></td>
            <td align=left bgcolor=#ffffff><u>
                    <font style=font-size:10pt face="arial narrow" color=#000000>Diberikan kenaikan gaji berkala hingga memperoleh :</font>
                </u></td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=80 align=left> <br></td>
            <td width=240 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>6.&nbsp;&nbsp; Gaji Pokok Baru</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial" color=#000000>&nbsp;Rp. {{gajibaru.tbgaji_currency|intcomma}}</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=80 align=left> <br></td>
            <td width=240 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>7.&nbsp;&nbsp; Berdasarkan Masa Kerja</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial" color=#000000>&nbsp;{{nominatif.mkb_tahun}} Tahun {{nominatif.mkb_bulan}} Bulan</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=80 align=left> <br></td>
            <td width=240 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>8.&nbsp;&nbsp; Dalam Golongan</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial" color=#000000>&nbsp;{{data.golongan}}/({{simbol.simbol}})</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=80 align=left> <br></td>
            <td width=240 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>9.&nbsp;&nbsp; Mulai Tanggal</font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial" color=#000000>&nbsp;{{nominatif.tmt_kgb}}</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=25>
            <td width=80 align=left> <br></td>
            <td width=240 align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>10. Keterangan gaji yang akan datang </font>
            </td>
            <td width=9 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>:</font>
            </td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;{{kgbnext}}</font>
            </td>
        </tr>
    </table>
    <br />
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=75></td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Diharapkan agar sesuai dengan Peraturan Pemerintah Nomor 30 Tahun 2015 kepada Pegawai tersebut dapat dibayarkan penghasilannya berdasarkan gaji pokoknya yang baru.</font>
            </td>
        </tr>
    </table>
    <br />
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=430 align=left> <br></td>
            <td width=270 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000>a.n. GUBERNUR JAMBI</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=435 align=left> <br></td>
            <td width=250 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="arial narrow" color=#000000> KEPALA BADAN</font>
            </td>
        </tr>
    </table>
    <br /><br /><br />
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=430 align=left> <br></td>
            <td width=220 align=center bgcolor=#ffffff><b><u>
                <font style=font-size:10pt face="times new roman" color=#000000>{{opd.kepala_opd}}</font></b></u></td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=435 align=left> <br></td>
            <td width=235 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="times new roman" color=#000000>Pangkat Golongan</font>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=17>
            <td width=550 align=left> <br></td>
            <td width=200 align=center bgcolor=#ffffff>
                <font style=font-size:10pt face="times new roman" color=#000000> NIP. nip</font>
            </td>
        </tr>
    </table>
    <br />
    <table border=0 cellspacing=0 cellpadding=0>
        <tr height=10>
            <td width=5 align=left> <br></td>
            <td align=left bgcolor=#ffffff>
                <font style=font-size:9pt face="arial narrow" color=#000000>Tembusan kepada Yth. :</font><br />
                <font style=font-size:9pt face="arial narrow" color=#000000>1. Menteri Dalam Negeri RI</font><br />
                <font style=font-size:9pt face="arial narrow" color=#000000>2. Ketua Badan Pemeriksa Keuangan</font><br />
                <font style=font-size:9pt face="arial narrow" color=#000000>4. Kepala {{data.opd}} Provinsi Jambi</font><br />
                <font style=font-size:9pt face="arial narrow" color=#000000>5. Kepala Kantor Cabang PT.Taspen (Persero) Jambi</font><br />
                <font style=font-size:9pt face="arial narrow" color=#000000>6. Bendaharawan Gaji Pegawai Yang Bersangkutan</font><br />
                <font style=font-size:9pt face="arial narrow" color=#000000>7. Yang Bersangkutan</font><br />
            </td>
        </tr>
    </table>
</body>

</html>

